---
import Layout from '../layouts/Layout.astro';
import mcGrassBlock from '../assets/minecraft-grass-block.png';
---

<Layout>
    <main class="page-container">
        <img src={mcGrassBlock.src} alt="Minecraft grass block" class="fullscreen-bg" />
        <div class="content-cont">
            <h1>MineTune</h1>
            <div class="content">
                <form class="user-input-form">
                    <label for="userInput">Enter Minecraft Song:</label>
                    <div class="input-button-row">
                        <input type="text" id="userInput" name="userInput" placeholder="Type here..." />
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="audio-cont">
            <svg class="play-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
            </svg>
            <svg class="pause-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9v6m-4.5 0V9M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
        </div>
    </main>
</Layout>

<script src="../scripts/audio.js"></script>