---
import Layout from '../layouts/Layout.astro';
import mcGrassBlock from '../assets/minecraft-grass-block.png';
---

<Layout>
    <main class="page-container">
        <img src={mcGrassBlock.src} alt="Minecraft grass block" class="fullscreen-bg" />
    </main>
</Layout>
