---
import Layout from '../layouts/Layout.astro';
import mcGrassBlock from '../assets/minecraft-grass-block.png';
---

<Layout>
    <main class="page-container">
        <img src={mcGrassBlock.src} alt="Minecraft grass block" class="fullscreen-bg" />
        <div class="header">
            <svg class="info-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
            </svg>
            <h1>MineTune</h1>
            <svg class="q-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
            </svg>
        </div>
        <div class="content-cont">
            <div class="content">
                <form class="user-input-form">
                    <label for="userInput">Enter Minecraft Song:</label>
                    <div class="input-button-row">
                        <input type="text" id="userInput" name="userInput" placeholder="Type here..." />
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="audio-cont">
            <svg class="play-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                <path d="M11 9.25v5.5l4-2.75-4-2.75z" fill="currentColor" />
            </svg>
            <svg class="pause-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9v6m-4.5 0V9M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
        </div>
    </main>
</Layout>

<script src="../scripts/audio.js"></script>