---
import Layout from '../layouts/Layout.astro';
import mcGrassBlock from '../assets/minecraft-grass-block.png';
import sword from '../assets/minecraft-sword.png';
---

<Layout>
    <main class="page-container">
        <img src={mcGrassBlock.src} alt="Minecraft grass block" class="fullscreen-bg" />
        <div class="content-cont">
            <h1>MineTune</h1>
            <div class="content">
                
            </div>
        </div>
    </main>
</Layout>
