---
import Head from '../components/Head.astro';

const { ...props } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<Head />
		<meta name="generator" content={Astro.generator} />
		<title>Minecraft Music Guesser</title>
	</head>
	<body>
		<slot />
	</body>
</html>